body {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}

main {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 64px;
}

.site-header {
    display: flex;
    justify-content: space-between;
    height: 79px;
    background-color: #E76C1F;
}

.site-header img {
    height: 37px;
    margin-top: 18px;
    margin-left: 16px;
}

.hero-image-wrapper {
    position: relative;
    margin-bottom: 72px;
}

.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    margin-top: 24px;
}

.hero-image-wrapper img:first-child {
    width: 100%;
    height: 346px;
    padding: 0 16px;
    border-radius: 32px;
    object-fit: cover;
}

.hero-burger {
    position: absolute;
    bottom: -60px;
    left: 50%;
    width: 120px;
    height: 120px;
    border: 13px solid #FDEADC;
    border-radius: 60px;
    box-shadow: 2px 4px 4px 0px #00000040;
    transform: translateX(-50%);
}

.hero-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-header .rating {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 4px 5px;
    background-color: #FACAAC;
    border-radius: 4px;
}

.hero-header .rating p {
    font-family: "Palanquin Dark";
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
}

.hero-header .rating span {
    font-family: "Palanquin";
    font-size: 18px;
    font-weight: 400;
    line-height: 120%;
    color: #726D6D;
}

.hero-header .rating img {
    height: 23px;
}

.hero-header p {
    text-align: center;
}

.hero-header h1 {
    margin-top: 16px;
    font-family: "Palanquin Dark";
    font-size: 40px;
    font-weight: 700;
    line-height: 120%;
}

.hero-header h1 span {
    color: #E76C1F;
}

.hero-header>p {
    font-family: "Palanquin";
    font-size: 22px;
    font-weight: 700;
    line-height: 120%;
}

.food-section {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-top: 70px;
}

.food-header {
    position: relative;
    margin-bottom: 32px;
    background-color: #E76C1F;
}

.food-header h2 {
    padding: 11px 0;
    font-family: "Palanquin";
    font-size: 32px;
    line-height: 120%;
    text-align: center;
    color: white;
}

.food-header img {
    position: absolute;
    top: -35px;
    left: 50%;
    height: 60px;
    transform: translateX(-50%);
}

.food-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0 20px;
}

.food-container article {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 10px;
    overflow: hidden;
    background-color: #FDEADC;
    border-radius: 12px;
    color: #363534;
}

.dish-info {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.dish-header {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.food-container article img {
    width: 100%;
    height: 86px;
    border-radius: 12px;
    object-fit: cover;
    object-position: center;
}

.dish-info h2 {
    font-family: "Palanquin";
    font-size: 24px;
    font-weight: 600;
    line-height: 100%;
}

.dish-info p {
    font-family: "Palanquin";
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
}

.dish-footer {
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
    padding-bottom: 8px;
}

.dish-footer p {
    font-family: "Palanquin";
    font-size: 24px;
    font-weight: 600;
    line-height: 120%;
}

.dish-footer button {
    padding: 5px 8px;
    background-color: white;
    border: none;
    border-radius: 20px;
    font-family: "Palanquin";
    font-size: 16px;
    font-weight: 600;
    line-height: 120%;
}

footer {
    background-color: #E76C1F;
    margin-top: 32px;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 22px 0px;
}

.footer p {
    font-family: "Palanquin";
    font-size: 18px;
    font-weight: 400;
    line-height: 120%;
    color: white;
}

.footer img {
    height: 24px;
}

.footer p:last-child {
    display: flex;
    gap: 4px;
}

nav {
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
    padding: 24px 25px;
    background-color: #363534;
}

nav button {
    padding: 0;
    background-color: #363534;
    border: none;
    cursor: pointer;
}

nav img {
    height: 30px;
    border-radius: 5px;
}

.confirmed-dialog {
    width: auto;
    height: 30%;
    margin: auto;
    padding: 0;
    overflow: visible;
    background-color: #363534;
    border: none;
    border-radius: 30px;
}

.confirmed-dialog h3 {
    font-family: "Palanquin";
    font-size: 24px;
    font-weight: 700;
    line-height: 120%;
    text-align: center;
    color: #FDEADC;
}

.confirmed-dialog h2 {
    font-family: "Palanquin";
    font-size: 36px;
    font-weight: 700;
    line-height: 120%;
    text-align: center;
    color: #FDEADC;
}

.confirmed-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.confirmed-wrapper img {
    height: 57px;
}

@media screen and (max-width: 375px) {
    nav {
        gap: 53px;
    }

    .confirmed-dialog h3 {
        font-size: 20px;
    }

    .confirmed-dialog h2 {
        font-size: 30px;
    }
}

@media screen and (min-width: 768px) {
    .confirmed-dialog {
        width: 50%;
    }

    .hero-image-wrapper img:first-child {
        border-radius: 0;
        padding: 0;
    }

    .hero-image-wrapper {
        width: 100%;
    }

    .hero-section {
        margin: 0;
    }
}

@media screen and (min-width: 1024px) {
    .food-header {
        display: flex;
        gap: 20px;
        padding-left: 12%;
    }

    .food-header img {
        position: static;
        transform: none;
    }

    .food-header h2 {
        text-align: start;
    }

    .food-container {
        padding: 0 120px;
    }

    .food-container article {
        flex-direction: row;
        gap: 56px;
        width: 67%;
        height: 141px;
    }

    .food-container article img {
        width: 30%;
        height: 100%;
    }

    .dish-info {
        flex: 1;
        flex-direction: row;
        justify-content: space-between;
    }

    .dish-header {
        width: 56%;
    }

    .dish-footer {
        flex-direction: column;
        align-items: end;
        padding: 0;
    }

    .confirmed-dialog {
        width: 38%;
        height: 16%;
    }

    nav {
        display: none;
    }

    footer {
        margin-top: 96px;
    }

    .footer {
        flex-direction: row-reverse;
        justify-content: center;
        gap: 72px;
        padding: 32px;
    }

    .basket-aside {
        display: block;
    }

    .basket-dialog {
        display: none;
    }
}